<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%- include('partials/header', { pageTitle: 'Edit Contact', pageSubtitle: 'Update contact details below' }) %>

<form action="/api/edit/<%= Contact._id %>?_method=PUT" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= Contact.name %>" required>

    <label for="phone">Phone Number:</label>
    <input type="text" name="phone" value="<%= Contact.phone %>" required>

    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= Contact.email %>">

    <button type="submit">Update Contact</button>
</form>

<%- include('partials/footer') %>


</body>
</html>
